{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Search Results</h1>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Search</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if messages %}
{% for i in messages %}
{{i}}
{% endfor %}
{% else %}
<div class="container m-5">
    <div class="row special-list">
        {% if pro %}
            {% for i in pro %}
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{ i.image.url }}" height="250px" width="100%" alt="{{ i.name }}">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="{% url 'shop:pro' i.id %}">View Product</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>{{ i.name }}</h4>
                        <h5>₹{{ i.price }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}

        {% endif %}
    </div>
</div>
{% endblock %}
